<!DOCTYPE html>
<html>
<head>
    <title>Edit Lat/Long</title>
</head>
<body>
    <h1>Edit Latitude/Longitude for Nodes</h1>
    <form method="POST" action="/latlogedit">
        <table border="1">
            <tr>
                <th>Node</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Action</th>
            </tr>
            {% for location in locations %}
            <tr>
                <td>{{ location.node }}</td>
                <td><input type="text" name="lat" value="{{ location.lat }}"></td>
                <td><input type="text" name="long" value="{{ location.long }}"></td>
                <td>
                    <input type="hidden" name="id" value="{{ location.id }}">
                    <button type="submit">Save</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>
