

{% extends "base.html" %}
{% block title %}Display Nodes . Tree Plantation Api{% endblock %}
{% block head %}
<script>
    // Auto-refresh every 20 seconds
    setTimeout(function(){
        window.location.reload(1);
    }, 20000);
</script>
{% endblock %}
{% block content %}


    <section class="px-1 md:px-10">
        <h1 class="text-center text-3xl my-4 font-bold text-green-600 p-2">Welcome to Tree Plantation API</h1>
    
        <h2 class="mt-10 text-2xl text-center uppercase font-bold underline mb-2">
            Current Values
        </h2>

        <div class="grid grid-cols-3 bg-gray-200 text-center text-sm md:text-xl p-1">
            <div class="py-4 border"><strong>Node</strong>     <br>{{ latest_record['nodename'] }}</div>
            <div class="py-4 border"><strong>Height</strong>   <br>{{ latest_record['height'] }} cm </div>
            <div class="py-4 border"><strong>Timestamp</strong><br>{{ latest_record['timestamp'] }}</div>
        </div>

        <h2 class="mt-20 text-2xl text-center uppercase font-bold mb-2">
            <p class="underline inline">All Nodes</p> <a href="/edit" class="p-1 border rounded-md bg-green-200 hover:bg-green-600 hover:text-white">Edit Node</a>
        </h2>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 text-sm md:text-xl">
            {% for node in nodes %}
            <a href="{{ url_for('display_node_data', nodename=node['nodename']) }}" class="py-4 border rounded-md shadow shadow-md shadow-indigo-300 text-center hover:bg-green-300">
                <b>{{ node['nodename'] }}</b> <i class="fa-solid fa-arrow-up-right-from-square ml-2"></i>
            </a>
            {% endfor %}
        </div>
    </section>

{% endblock %}