{% extends "base.html" %}
{% block title %}Edit Node Data . Tree Plantation Api{% endblock %}
{% block content %}


    <div class="text-center text-3xl my-4 font-bold text-green-600 p-2">Edit Node Data for <i class="underline">{{ node_data['nodename'] }}</i></div>

    
    <div class="flex items-center justify-center">
        <form action="{{ url_for('edit_node_data', nodename=node_data['nodename']) }}" 
              method="POST" 
              class="w-full max-w-md bg-white border border-gray-200 rounded-lg shadow-lg p-8 space-y-6 bg-gray-100">
              
            <div>
                <label for="latitude" class="block text-xl font-bold text-gray-700 mb-2">Latitude:</label>
                <input type="text" 
                       id="latitude" 
                       name="latitude" 
                       value="{{ node_data['latitude'] }}" 
                       class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-green-400 focus:border-green-400">
            </div>
    
            <div>
                <label for="longitude" class="block text-xl font-bold text-gray-700 mb-2">Longitude:</label>
                <input type="text" 
                       id="longitude" 
                       name="longitude" 
                       value="{{ node_data['longitude'] }}" 
                       class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-green-400 focus:border-green-400">
            </div>
    
            <div class="flex justify-end">
                <input type="submit" 
                       value="Save" 
                       class="px-4 py-2 bg-green-500 text-white font-semibold rounded-md shadow hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400">
            </div>
        </form>
    </div>
    

{% endblock %}